<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>name</key>
	<string>ORD</string>
	<key>contactEmailRot13</key>
	<string></string>
	<key>contactName</key>
	<string>ORDeC contributors</string>
	<key>description</key>
	<string>Syntax highlighting for the ORD hardware description language</string>
	<key>uuid</key>
	<string>45875AB0-11AF-40B0-B513-69BA0050C1B5</string>
</dict>
</plist>
