@font-face {
    font-family: 'Inconsolata';
    size-adjust: 100%;
    src: url('/fonts/Inconsolata/Inconsolata-VariableFont_wdth,wght.ttf') format('truetype');
}
body {
    margin:0px;
    padding:0px;
    display:flex;
    flex-direction:column;
    height:100vh;
    width:100vw;
    font-family:"Helvetica", sans-serif;
    align-items:stretch;
    overflow:hidden;
}

#workspace {
    position:absolute;
    top:28px;
    bottom:0;
    left:0;
    right:0;
}

.boxitem {
    border:1px solid #aaa;
    background-color:#eee;
    padding:1px 4px;
    font-size:small;
    border-radius: 5px;
}

#toolbar {
    height:28px;
    display: flex;
    flex-direction:row;
    align-items:center;
    gap:10px;
    padding:1px 3px;
    background-color:#d8d8d8;
    border-bottom:1px solid #aaa;
}
#toolbar .spacer {
    flex-grow:1;
}
.resview {
    display:flex;
    flex-direction:column;
    box-sizing: border-box;
    position:absolute;
    top:0px;
    bottom:0px;
    left:0px;
    right:0px;
}
.reswrapper {
    flex-grow:1;
}
.rescontent {
    background-color:#fff;
    position: absolute;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    padding:3px;
    overflow-y:scroll;
    overflow-x:clip;   
}
.resexception {
    flex-grow:1;
    padding:3px;
}
.resviewhead select {
    flex-grow:1;
}
.resviewhead {
    display:flex;
    flex-direction:row;
    gap:5px;
    padding:2px 5px;
    border-bottom:1px solid #aaa;
}
svg.fit {
    object-fit:contain;
    width:100%;
    height:100%;
    display:block;
}
*, *::before, *::after { box-sizing: border-box; } 
.exception {
    color:red;
}
pre {
    margin:0px;
}
.dc_table {
    width:100%;
    border-collapse: collapse;
}
.dc_table td, .dc_table th {
    border: 1px solid #aaa;
    padding:0px 5px;
}
.dc_table th {
    background-color:#d8d8d8;
}
.dc_table td:nth-child(2) {
    width: 100%;
    max-width: 0;
}
.debug {
    display:none;
}
.resoverlay-topleft, .resoverlay-bottomright {
    z-index: 2;
    position:absolute;
    background-color:#eee;
    border:1px solid #aaa;
    margin:5px;
    padding:4px;
    border-radius:5px;
}
.resoverlay-bottomright {
    bottom:0px;
    right:0px;
}
.refreshing {
    background-color:#ff0;
}
.refreshing img {
    height:1.2em;
    alignment-baseline: middle;
    display:inline-block;
    margin-bottom:-0.2em;
}
.refreshable {
    background-color:#f00;
}
