# SPDX-FileCopyrightText: 2025 ORDeC contributors
# SPDX-License-Identifier: Apache-2.0

name: run pytest
on:
  workflow_dispatch:
  push:
  pull_request:
jobs:
  build:
    name: pytest
    runs-on: ubuntu-latest
    container:
      image: ghcr.io/tub-msc/ordec-base:sha-81011ee
      options: --user root
    steps:
      - name: check out repository
        uses: actions/checkout@v2
      - name: Source venv
        run: |
          . /home/app/venv/bin/activate
          echo PATH=$PATH >> $GITHUB_ENV
          echo SETUPTOOLS_SCM_PRETEND_VERSION="0" >> $GITHUB_ENV
      - name: pip install
        run: pip install .
      - name: run tests
        run: COVERAGE_FILE=/tmp/coverage pytest -v --cov-report=html:/tmp/htmlcov -o cache_dir=/tmp/pytestcache --junit-xml=/tmp/test-results.xml
      - name: display test results
        if: always()
        uses: pmeier/pytest-results-action@main
        with:
          path: /tmp/test-results.xml
          summary: true
          display-options: fEX
          fail-on-empty: true
